body{
    margin:0;
}

.headband{
    height: 30px;
    background-color: rgb(51, 51, 51);
}

.logo{
    text-align: center;
    margin: 0px;
}

.menu{
    margin:auto;
    display: flex;
    justify-content: flex-start;
    width: 70%;
}

.buttonMenu{
    width: 110px;
    padding: 15px;
    text-align: center;
    list-style: none;
}

.menu a, footer a{
    text-decoration:none;
    color:black;
    font-size: 1.1em;
    font-family: 'Unica One', cursive;
}

.accueil{
    border-bottom: 4px solid rgb(118, 188, 195);
}

.banniere{
    position: relative;
}

.paysage{ 
    width: 100%;
}

.portrait{
    position: absolute;
    top: 60%;
    left: 70%;
    width: 12%;
    padding:10px;
    background-color: white;
    position: absolute;
}

footer{
    background-color: rgb(51, 51, 51);
    height: 90px;
}

footer ul{
    text-align: center;
    list-style: none;
}

footer a, .copyright{
    color: white;
}

.footer_block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_menu{
    display: flex;
    margin:0px;
}

.footer_social_network{
    display: flex;
    font-size: 2.5em;
    justify-content: space-between;
    padding: 6px 0px 0px 100px;
    width: 200px;
    margin:0px;
}

.copyright{
    margin:0px;
    text-align: center;
    font-family: 'Unica One', cursive;
}